* {
    font-family: Arial, Helvetica, sans-serif
}

p {
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.player-choice-section {
    display: flex;
    gap: 15px;
}

button.player-choice {
    width: 150px;
    height: 150px;
    font-size: 24px;
}

.game-message {
    font-size: 36px;
}

.scoreboard {
    display: flex;
    gap: 50px;
}

.score-card {
    display: flex;
    gap: 20px;
}

.score-card-name,
.score-card-num {
    font-size: 28px;
}

.score-card-name {
    color: gray;
}